{{ define "pages/index-main.html" }}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                {{ $logged_in := .logged_in }} <!-- Store the logged_in value in a variable for the loop -->

                {{ range .notes }}
                <a href="/notes/{{ .ID }}">
                    <h2 class="post-title">{{ .Title }}</h2>
                    <p>{{ .Content }}<p>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="/about">Art Mills</a>
                    {{ .Published }}
                </p>
                <!-- Divider-->
                    <hr class="my-4" />
                {{ if $logged_in }}
                <a class="btn btn-outline-primary" href="/notes/edit/{{ .ID }}" role="button">Edit Note</a>
                <a class="btn btn-outline-danger" href="/notes/{{ .ID }}" role="button" onclick="sendDelete(event, this.href)">Delete Note</a>
                {{ end }}
                {{ else }}
                    <p>No notes yet</p>
                {{ end }}
            </div>

            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/notes">Older Posts →</a></div>
        </div>
    </div>
</div>

{{ end }}