{{ define "pages/notes-index-main.html" }}    
    
    <!-- Notes index-->
    <h1>Listing Notes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Published</th>
                {{ if .logged_in }}
                <th>Edit Note</th>
                <th>Delete Note</th>
                {{ end }}
            </tr>
        </thead>

  <tbody>
      {{ $logged_in := .logged_in }} <!-- Store the logged_in value in a variable for the loop -->

      {{ range .notes }}
        <tr>
          <td><a href="/notes/{{ .ID }}">{{ .Title }}</a></td>
          <td>{{ .Content }}</td>
          <td> {{ .Published }}</td>
            {{ if $logged_in }}
              <td><a class="btn btn-outline-primary" href="/notes/edit/{{ .ID }}" role="button">Edit Note</a></td>
              <td><a class="btn btn-outline-danger" href="/notes/{{ .ID }}" role="button" onclick="sendDelete(event, this.href)">Delete Note</a></td>
            {{ end }}
          </tr>
      {{ else }}
          <tr>
          <td colspan="3">No notes yet</td>
        </tr>
          
      {{ end }}
    
</table>

{{ end }}